header
    color: white
    margin-top: 15%
    margin-bottom: 10%
h1
    display: block
    margin: auto
    text-align: center
    color: #973434
    font-size: 40px

p 
    display: block
    margin: auto
    text-align: center
    padding-left: 15%
    font-size: 20px
    opacity: 0.6

